Repository huxuan/iptvtools: changes, and which pre-commit hooks are due for each by the changed paths.
All: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt, check-jsonschema, forbidden-files

pdm-lock-check:
  name: pdm-lock-check
  entry: pdm lock --check
  language: python
  pass_filenames: false

pdm-dev-lock-check:
  name: pdm-dev-lock-check
  entry: pdm lock --check --lockfile pdm.dev.lock
  language: python
  pass_filenames: false

pyproject-fmt:
  name: pyproject-fmt
  entry: pyproject-fmt
  language: python

check-jsonschema:
  name: check-jsonschema
  entry: make check-jsonschema
  language: python
  pass_filenames: false

forbidden-files:
  name: forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

update lockfiles
  pdm.dev.lock
  pdm.lock
Due: none

remove setup.py
  pyproject.toml
  setup.py
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

minor
  docs/parameters.rst
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

update dependencies
  pdm.lock
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

update dev lock file
  pdm.dev.lock
Due: none

add stub packages
  pdm.dev.lock
  pdm.lock
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

satisfy mypy
  src/iptvtools/config.py
  src/iptvtools/constants/defaults.py
  src/iptvtools/exceptions.py
  src/iptvtools/iptv_filter.py
  src/iptvtools/models.py
  src/iptvtools/parsers.py
  src/iptvtools/utils.py
Due: none

satisfy ruff
  src/iptvtools/iptv_filter.py
  src/iptvtools/models.py
  src/iptvtools/parsers.py
Due: none

better TYPE_CHECKING
  src/iptvtools/config.py
  src/iptvtools/models.py
  src/iptvtools/parsers.py
  src/iptvtools/utils.py
Due: none

drop Python 3.9 support
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/devcontainer.yml
  .github/workflows/release.yml
  pyproject.toml
  src/iptvtools/settings.py
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt, check-jsonschema

update dev lockfile
  pdm.dev.lock
Due: none

update lockfile
  pdm.dev.lock
  pdm.lock
Due: none

fail under 0
  .copier-answers.yml
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

drop windows support
  .copier-answers.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt, check-jsonschema

doc fix
  docs/index.md
  docs/index.rst
Due: none

clean docs
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/scripts/iptv-filter.rst
Due: none

update template to v0.0.65
  .copier-answers.yml
  Makefile
  README.md
  pyproject.toml
  src/iptvtools/cli.py
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

update constraints
  pdm.dev.lock
  pdm.lock
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

remove installation doc
  docs/index.md
  docs/installation.rst
Due: none

replace `iptv-filter` with `iptvtools-cli filter`
  src/iptvtools/cli.py
  src/iptvtools/config.py
  src/iptvtools/iptv_filter.py
  src/iptvtools/models.py
  src/iptvtools/parsers.py
  src/iptvtools/utils.py
  tests/cli_test.py
Due: none

update docs
  docs/cli/filter.md
  docs/cli/index.md
  docs/cli/iptvtools.md
  docs/index.md
  docs/scripts.rst
  docs/scripts/iptv-filter.rst
  docs/usage/filter.md
  docs/usage/index.md
Due: none

update docs
  docs/usage/filter.md
Due: none

update keywords
  .copier-answers.yml
  pyproject.toml
Due: pdm-lock-check, pdm-dev-lock-check, pyproject-fmt

Remove Pipfile
  Pipfile
Due: none

minor
  docs/cli/iptvtools.md
Due: none

fix
  src/iptvtools/cli.py
Due: none

minor fix
  src/iptvtools/models.py
Due: none

update .gitignore
  .gitignore
Due: none

Notes added by 'git notes add'
  647ae6a17a0411026be56fb8df2d4415df99256e
Due: none

chore(patch-release): update template to
  .copier-answers.yml
  .github/workflows/release.yml
  docs/conf.py
Due: check-jsonschema

chore(patch-release): update template to (#38)
  .copier-answers.yml
  .github/workflows/release.yml
  docs/conf.py
Due: check-jsonschema

Notes added by 'git notes add'
  39781de9ebc3976846adc00eb40473e231d56b72
Due: none

fix: fix update template via renovate
  .renovaterc.json
Due: check-jsonschema

use copier manager
  .github/workflows/renovate.yml
  .renovaterc.json
Due: check-jsonschema

fix copier constraint
  .renovaterc.json
Due: check-jsonschema

Path conditions:
  pdm-lock-check: any of: ^pyproject.toml$
  pdm-dev-lock-check: any of: ^pyproject.toml$
  pyproject-fmt: any of: (^|/)pyproject\.toml$ and \.toml$
  check-jsonschema: any of: (?x)^( \.github/workflows/[^/]+| \.gitlab-ci\.yml| \.gitlab/workflows/[^/]+| \.readthedocs\.yaml| \.renovaterc\.json )$
  forbidden-files: any of: \.rej$
